/* reset de estilos del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

/* apartados de navegacion */
.navigation {
  width: 100%;
  min-height: 4rem; /* 64px */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* apartado de navegacion rsponsive */
.navigation-responsive {
  display: flex;
}

/* apartado de navegacion desktop */
.navigation-desktop {
  display: none;
}

/* contenedor de botones abrir/cerrar menu */
.menu-icons-wrapper {
  order: 1;
}

/* menu de enlaces */
.links-menu {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  flex-basis: 100%;
  flex-shrink: 0;
  order: 2;
  margin: 1rem 0 0 0;
  padding: 2rem 1rem;
  list-style: none;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: #f4f7fe;
}

/* botones de sesion */
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  flex-shrink: 0;
  order: 3;
  padding: 1rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #f4f7fe;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* apartado principal */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12.5rem;
  margin-top: 5.2rem;
  /* contenido cta */
  /* imagen cta */
}
.home .section-cta {
  flex-basis: 26rem;
  padding: 1rem;
}
.home .image-home-wrapper {
  margin-top: 2rem;
}

/* texto cta */
.section-cta__text {
  margin-bottom: 2rem;
  text-align: center;
}

/* formulario cta */
.section-cta__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  /* impedir que el input se comprima */
  /* impedir que el boton cta se comprima */
}
.section-cta__contact .input-cta {
  flex-basis: 100%;
  flex-shrink: 0;
}
.section-cta__contact .btn-cta {
  flex-shrink: 0;
}

/* seccion features */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.2rem;
}
.features .features__heading {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.features .features__content {
  display: flex;
}
.features .features__content .features__wrapper {
  margin-top: 2rem;
}
.features .features__content .features__image-wrapper {
  display: none;
}

/* seccion beneficios */
.benefits {
  margin-top: 5.2rem;
  padding-top: 4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.benefits .benefits__heading {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.benefits .benefits__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 4rem;
  margin-top: 3rem;
}

/* seccion kpis */
.kpis {
  width: 100%;
  height: auto;
  min-height: 13rem;
  margin-top: 5.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #0075ff;
  color: #ffffff;
}

.onboarding {
  display: flex;
  flex-direction: column;
  margin-top: 5.2rem;
}
.onboarding .onboarding__heading {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.onboarding .onboarding__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.footer {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-top: 5.2rem;
  background-color: #f4f7fe;
  background-image: url(../assets/coinbase-bg1.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 619px 339px;
}
.footer .footer-cta {
  width: 100%;
  padding: 1rem;
  margin: 2rem 1rem;
}

/* media queries */
/* ancho >= 480px */
@media screen and (min-width: 480px) {
  /* formulario cta  */
  /* para alinear horizontalmente el input y btn */
  .section-cta__contact {
    justify-content: space-between;
    gap: 0;
  }
  .section-cta__contact .input-cta {
    flex-basis: 65%;
    flex-shrink: 1;
  }
  .section-cta__contact .btn-cta {
    flex-shrink: 1;
  }
}
/* ancho >= 600px */
@media screen and (min-width: 600px) {
  /* menu de enlaces */
  /* para ubicar los enlaces horizontalmente y agregar espacio */
  .links-menu {
    flex-direction: row;
    justify-content: space-between;
  }
  .onboarding .onboarding__steps {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .footer {
    height: 30rem;
  }
}
/* ancho >= 900px */
@media screen and (min-width: 900px) {
  /* texto cta */
  /* para alinear el texto a laizquierda */
  .section-cta__text {
    text-align: left;
  }
  /* apartado features */
  /* para mostrar la imagen lateral derecha */
  .features .features__content .features__image-wrapper {
    display: block;
  }
  .onboarding .onboarding__steps {
    max-width: 55rem;
  }
  .footer .footer-cta {
    max-width: 32rem;
    padding: 1rem;
    margin: 5rem auto 9rem 9rem;
  }
}
/* ancho >= 1024px */
@media screen and (min-width: 1024px) {
  /* a partir de 1200px, se intercambia el menu responsive
  por un menu desktop */
  .navigation {
    display: none;
  }
  .navigation-desktop {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
  }
  /* menu de enlaces */
  .links-menu {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  /* botones de sesion */
  .login {
    flex-basis: 14rem;
    flex-grow: 0;
    padding: 0;
    background-color: #ffffff;
    border: none;
  }
}
.link, .link-cta {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  color: #000000;
}
.link:hover, .link-cta:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.link:active, .link-cta:active {
  text-decoration: underline;
  color: rgba(0, 117, 255, 0.4);
}

.menu-icon-open,
.menu-icon-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
}
.menu-icon-open:hover,
.menu-icon-close:hover {
  color: #0075ff;
  transition: all 0.3s;
}

.btn {
  min-width: 6rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

/*all fontawesome icons*/
.icon {
  color: #0075ff;
}

.btn-cta {
  border: 1px solid #0075ff;
  color: #ffffff;
  background-color: #0075ff;
}
.btn-cta:hover {
  border: 1px solid #0075ff;
  color: #0075ff;
  background-color: #ffffff;
  transition: all 0.5s;
}

.link-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  color: #0075ff;
}
.link-cta .link-cta-icon {
  margin-left: 0.5rem;
}

.title-cta {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
  margin: 1rem 0;
  letter-spacing: 0.02rem;
  color: #000000;
}

.text-cta {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  margin: 1rem 0;
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  color: #000000;
}

.input-cta {
  width: 100%;
  height: 2.1rem;
  font-weight: 600;
  line-height: 1rem;
  font-size: 0.9rem;
  padding: 0 20px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.input-cta:focus-visible {
  outline: none;
  border-color: rgba(0, 117, 255, 0.8);
}

/* titulos h2 */
.title-two {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #000000;
}

/* parrafos p */
.text {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.4);
}

/* feature individual */
.feature {
  max-width: 21rem;
  min-width: 19rem;
  height: auto;
  display: flex;
  align-items: start;
  padding: 1rem;
}
.feature .feature__icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* no se comprime */
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
}
.feature .feature__text-wrapper {
  margin-left: 1rem;
}
.feature .feature__text-wrapper h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000000;
}
.feature .feature__text-wrapper p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
}

.benefit {
  max-width: 21rem;
  min-width: 19rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* icon wrapper from benefit */
}
.benefit .benefit__heading {
  font-size: 5rem;
}
.benefit .benefit__body {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
}
.benefit .benefit__body .benefit__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: #000000;
}
.benefit .benefit__body .benefit__subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
}
.benefit .benefit__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
}
.benefit .benefit__footer .benefit__link {
  font-size: 1rem;
  font-weight: 400;
  color: #0075ff;
  text-decoration: none;
}

.kpi {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.kpi .kpi__number {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.25rem;
  text-align: center;
}
.kpi .kpi__text {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.step {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}
.step .step__text {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #000000;
}

.step__separator {
  flex-basis: 5.5rem;
  flex-shrink: 1;
  margin: 0.5rem;
  border-left: 1px solid #000000;
}

/* media queries sobre componentes */
/* ancho >= 600px */
@media screen and (min-width: 600px) {
  .kpi {
    margin: 0;
  }
  .step__separator {
    flex-basis: 3rem;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0;
    border-top: 1px solid #000000;
  }
}
/* ancho >= 900 px */
@media screen and (min-width: 900px) {
  /* enlace superior del texto cta */
  /* para alinear el contenido a la izquierda (en flex) */
  .link-cta {
    justify-content: start;
  }
}

/*# sourceMappingURL=styles.css.map */
