@use "globals";

.link {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  color: globals.$primary-color;
  &:hover {
    text-decoration: underline;
    color: rgba($color: globals.$primary-color, $alpha: 0.4);
    transition: all 0.5s;
  }
  &:active {
    text-decoration: underline;
    color: rgba($color: globals.$alt-color, $alpha: 0.4);
  }
}

.menu-icon-open,
.menu-icon-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: globals.$primary-color;
  cursor: pointer;
  &:hover {
    color: globals.$alt-color;
    transition: all 0.3s;
  }
}

.btn {
  min-width: 6rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

/*all fontawesome icons*/
.icon {
  color: globals.$alt-color;
}

.btn-cta {
  border: 1px solid globals.$alt-color;
  color: globals.$secondary-color;
  background-color: globals.$alt-color;
  &:hover {
    border: 1px solid globals.$alt-color;
    color: globals.$alt-color;
    background-color: globals.$secondary-color;
    transition: all 0.5s;
  }
}

.link-cta {
  @extend .link;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  color: globals.$alt-color;
  .link-cta-icon {
    margin-left: 0.5rem;
  }
}

.title-cta {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
  margin: 1rem 0;
  letter-spacing: 0.02rem;
  color: globals.$primary-color;
}

.text-cta {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  margin: 1rem 0;
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  color: globals.$primary-color;
}

.input-cta {
  width: 100%;
  height: 2.1rem;
  font-weight: 600;
  line-height: 1rem;
  font-size: 0.9rem;
  padding: 0 20px;
  border-radius: 5px;
  color: rgba($color: globals.$primary-color, $alpha: 0.4);
  border: 1px solid rgba($color: globals.$primary-color, $alpha: 0.4);
  &:focus-visible {
    outline: none;
    border-color: rgba($color: globals.$alt-color, $alpha: 0.8);
  }
}

/* titulos h2 */
.title-two {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: globals.$primary-color;
}

/* parrafos p */
.text {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;
  color: rgba($color: globals.$primary-color, $alpha: 0.4);
}

/* feature individual */
.feature {
  max-width: 21rem;
  min-width: 19rem;
  height: auto;
  display: flex;
  align-items: start;
  padding: 1rem;
  .feature__icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* no se comprime */
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba($color: globals.$primary-color, $alpha: 0.25);
    font-size: 1.2rem;
  }
  .feature__text-wrapper {
    margin-left: 1rem;
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: globals.$primary-color;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      margin: 1rem 0;
      letter-spacing: 0.02rem;
      line-height: 1.3rem;
      color: rgba($color: globals.$primary-color, $alpha: 0.6);
    }
  }
}

.benefit {
  max-width: 21rem;
  min-width: 19rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* icon wrapper from benefit */
  .benefit__heading {
    font-size: 5rem;
  }
  .benefit__body {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    .benefit__title {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0.5rem 0;
      color: globals.$primary-color;
    }
    .benefit__subtitle {
      font-size: 1rem;
      font-weight: 400;
      margin: 0.5rem 0;
      letter-spacing: 0.02rem;
      line-height: 1.3rem;
      color: rgba($color: globals.$primary-color, $alpha: 0.6);
    }
  }
  .benefit__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    .benefit__link {
      font-size: 1rem;
      font-weight: 400;
      color: globals.$alt-color;
      text-decoration: none;
    }
  }
}

.kpi {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  .kpi__number {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.25rem;
    text-align: center;
  }
  .kpi__text {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

.step {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  .step__text {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: globals.$primary-color;
  }
}

.step__separator {
  flex-basis: 5.5rem;
  flex-shrink: 1;
  margin: 0.5rem;
  border-left: 1px solid globals.$primary-color;
}

/* media queries sobre componentes */

/* ancho >= 600px */
@media screen and (min-width: 600px) {
  
  .kpi {
    margin: 0;
  }

  .step__separator {
    flex-basis: 3rem;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0;
    border-top: 1px solid globals.$primary-color;
  }

}

/* ancho >= 900 px */
@media screen and (min-width: 900px) {

  .link-cta {
    justify-content: start;
  }

}