@use "globals";

.link {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.05rem;
  color: globals.$primary-color;
  &:hover {
    text-decoration: underline;
    color: rgba($color: globals.$primary-color, $alpha: 0.4);
  }
  &:active {
    text-decoration: underline;
    color: rgba($color: globals.$alt-color, $alpha: 0.4);
  }
}

.btn {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.5rem 1.5rem;
}

.btn-cta {
  border: 1px solid globals.$alt-color;
  color: globals.$secondary-color;
  background-color: globals.$alt-color;
  &:hover {
    border: 1px solid globals.$alt-color;
    background-color: globals.$secondary-color;
  }
}

.link-cta {
  @extend .link;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  color: globals.$alt-color;
  i {
    font-size: 2rem;
  }
}

.title-cta {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
  margin: 1rem 0;
  letter-spacing: 0.02rem;
  color: globals.$primary-color;
}

.text-cta {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  color: globals.$primary-color;
}

.input-cta {
  width: 17rem;
  height: 2.1rem;
  font-weight: 600;
  line-height: 1rem;
  font-size: 0.9rem;
  padding: 0 20px;
  border-radius: 5px;
  color: rgba($color: globals.$primary-color, $alpha: 0.4);
  border: 1px solid rgba($color: globals.$primary-color, $alpha: 0.4);
  &:focus-visible {
    outline: none;
    border-color: rgba($color: globals.$alt-color, $alpha: 0.8);
  }
}