$primary-color: #000000;
$secondary-color: #ffffff;
$alt-color: #0075ff;
$alt-bg-color: #f4f7fe;

/* reset de estilos del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

/* apartado de navegacion */
.navigation {
  width: 100%;
  min-height: 4rem; /* 64px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.2);
}

/* contenedor de botones abrir/cerrar menu */
.menu-icons-wrapper {
  order: 1;
}

/* menu de enlaces */
.links-menu {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  flex-basis: 100%;
  flex-shrink: 0;
  list-style: square;
  margin: 0;
  padding: 1rem;
  order: 2;
}

/* botones de sesion */
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  flex-shrink: 0;
  /* width: 14rem; */
  padding: 1rem;
  border-top: 1px solid rgba($color: $primary-color, $alpha: 0.1);
  order: 3;
}

/* apartado principal */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12.5rem;
  margin-top: 5.2rem;
  .section-cta {
    flex-basis: 26rem;
    padding: 1rem;
  }
  .image-home-wrapper {
    margin-top: 2rem;
  }
}

.section-cta__text {
  margin-bottom: 2rem;
  text-align: center;
}

.section-cta__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  /* impedir que el input se comprima */
  .input-cta {
    flex-basis: 100%;
    flex-shrink: 0;
  }
  /* impedir que el boton cta se comprima */
  .btn-cta {
    flex-shrink: 0;
  }
}

/* seccion fatures */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.2rem;
  .features__heading {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 1rem 0;
      color: $primary-color;
    }
    p {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 1rem 0;
      letter-spacing: 0.02rem;
      line-height: 1.3rem;
      color: rgba($color: $primary-color, $alpha: 0.4);
    }
  }
  .features__content {
    display: flex;
    .features__wrapper {
      margin-top: 2rem;
    }
    .features__image-wrapper {
      display: none;
    }
  }
}

/* seccion beneficios */
.benefits {
  margin-top: 3.2rem;
  padding-top: 4rem;
  border-top: 1px solid rgba($color: $primary-color, $alpha: 0.1);
  .benefits__heading {
    text-align: center;
    padding: 1rem;
    margin-bottom: 6rem;
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 1rem 0;
      color: $primary-color;
    }
    p {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 1rem 0;
      letter-spacing: 0.02rem;
      line-height: 1.3rem;
      color: rgba($color: $primary-color, $alpha: 0.4);
    }
  }
}

.benefits__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* seccion kpis */
.kpis {
  width: 100%;
  height: auto;
  min-height: 13rem;
  margin-top: 7.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: $alt-color;
  color: $secondary-color;
}

.onboarding {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  .onboarding__heading {
    text-align: center;
    margin-bottom: 8.5rem;
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 1rem 0;
      color: $primary-color;
    }
    p {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 1rem 0;
      letter-spacing: 0.02rem;
      line-height: 1.3rem;
      color: rgba($color: $primary-color, $alpha: 0.4);
    }
  }
  .onboarding__steps {
    display: flex;
    justify-content: center;
    align-items: center;
    .step__separator {
      flex-basis: 8.5rem;
      flex-shrink: 1;
      border-top: 1px solid $primary-color;
    }
  }
}

.footer {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 7.5rem;
  background-color: $alt-bg-color;
  background-image: url(../assets/coinbase-bg1.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 619px 339px;
  .footer-cta {
    width: 38%;
    margin-left: 10rem;
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 1rem 0;
      color: $primary-color;
    }
    p {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 2rem 0;
      letter-spacing: 0.02rem;
      line-height: 1.3rem;
      color: rgba($color: $primary-color, $alpha: 0.4);
    }
  }
}