$primary-color: #000000;
$secondary-color: #ffffff;
$alt-color: #0075ff;
$alt-bg-color: #f4f7fe;

/* reset de estilos del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

/* apartados de navegacion */
.navigation {
  width: 100%;
  min-height: 4rem; /* 64px */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.2);
}

/* apartado de navegacion rsponsive */
.navigation-responsive {
  display: flex;
}

/* apartado de navegacion desktop */
.navigation-desktop {
  display: none;
}

/* contenedor de botones abrir/cerrar menu */
.menu-icons-wrapper {
  order: 1;
}

/* menu de enlaces */
.links-menu {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  flex-basis: 100%;
  flex-shrink: 0;
  order: 2;
  margin: 1rem 0 0 0;
  padding: 2rem 1rem;
  list-style: none;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: $alt-bg-color;
}

/* botones de sesion */
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  flex-shrink: 0;
  order: 3;
  padding: 1rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: $alt-bg-color;
  border-top: 1px solid rgba($color: $primary-color, $alpha: 0.1);
}

/* apartado principal */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12.5rem;
  margin-top: 5.2rem;
  /* contenido cta */
  .section-cta {
    flex-basis: 26rem;
    padding: 1rem;
  }
  /* imagen cta */
  .image-home-wrapper {
    margin-top: 2rem;
  }
}

/* texto cta */
.section-cta__text {
  margin-bottom: 2rem;
  text-align: center;
}

/* formulario cta */
.section-cta__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  /* impedir que el input se comprima */
  .input-cta {
    flex-basis: 100%;
    flex-shrink: 0;
  }
  /* impedir que el boton cta se comprima */
  .btn-cta {
    flex-shrink: 0;
  }
}

/* seccion features */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.2rem;
  .features__heading {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .features__content {
    display: flex;
    .features__wrapper {
      margin-top: 2rem;
    }
    .features__image-wrapper {
      display: none;
    }
  }
}

/* seccion beneficios */
.benefits {
  margin-top: 5.2rem;
  padding-top: 4rem;
  border-top: 1px solid rgba($color: $primary-color, $alpha: 0.1);
  .benefits__heading {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .benefits__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 4rem;
    margin-top: 3rem;
  }
}

/* seccion kpis */
.kpis {
  width: 100%;
  height: auto;
  min-height: 13rem;
  margin-top: 5.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: $alt-color;
  color: $secondary-color;
}

.onboarding {
  display: flex;
  flex-direction: column;
  margin-top: 5.2rem;
  .onboarding__heading {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .onboarding__steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}

.footer {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-top: 5.2rem;
  background-color: $alt-bg-color;
  background-image: url(../assets/coinbase-bg1.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 619px 339px;
  .footer-cta {
    width: 100%;
    padding: 1rem;
    margin: 2rem 1rem;
  }
}


/* media queries */

/* ancho >= 480px */
@media screen and (min-width: 480px) {
  
  /* formulario cta  */
  /* para alinear horizontalmente el input y btn */
  .section-cta__contact {
    justify-content: space-between;
    gap: 0;
    .input-cta {
      flex-basis: 65%;
      flex-shrink: 1;
    }
    .btn-cta {
      flex-shrink: 1;
    }
  }

}

/* ancho >= 600px */
@media screen and (min-width: 600px) {
  
  /* menu de enlaces */
  /* para ubicar los enlaces horizontalmente y agregar espacio */
  .links-menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .onboarding .onboarding__steps {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .footer {
    height: 30rem;
  }

}

/* ancho >= 900px */
@media screen and (min-width: 900px) {

  /* texto cta */
  /* para alinear el texto a laizquierda */
  .section-cta__text {
    text-align: left;
  }

  /* apartado features */
  /* para mostrar la imagen lateral derecha */
  .features {
    .features__content {
      .features__image-wrapper {
        display: block;
      }
    }
  }

  .onboarding .onboarding__steps {
    max-width: 55rem;
  }

  .footer {
    .footer-cta {
      max-width: 32rem;
      padding: 1rem;
      margin: 5rem auto 9rem 9rem;
    }
  }
}

/* ancho >= 1024px */
@media screen and (min-width: 1024px) {

  /* a partir de 1200px, se intercambia el menu responsive
  por un menu desktop */
  .navigation {
    display: none;
  }

  .navigation-desktop {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
  }

  /* menu de enlaces */
  .links-menu {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
  }
  
  /* botones de sesion */
  .login {
    flex-basis: 14rem;
    flex-grow: 0;
    padding: 0;
    background-color: $secondary-color;
    border: none;
  }

}